nav.nav
    .nav__logo
        img(src="./img/logo.svg")
    .nav__list
        a(href="#").nav__item RUSSIA-UKRAINE FULL COVERAGE
        a(href="#").nav__item LIVE UPDATES
        a(href="#").nav__item PLAN YOUR VOTE
        a(href="#").nav__item POLITICS
        a(href="#").nav__item COVID
        a(href="#").nav__item U.S.NEWS
        a(href="#").nav__item OPINION
    a(href="#").nav__watch
        span.red-circle
        |  watch
        span.now  now
    a(href="#").menu_button
        span
        span
        span
.guide
    .interview
        .interview__info
            .interview__title Interview
            .interview__time December 18, 2021
        .interview__socials
            .interview__social
                img(src="./img/youtube.svg")
            .interview__social
                img(src="./img/insta.svg")
            .interview__social
                img(src="./img/facebook.svg")
    .guide__container
        .guide__title How I got an extra job without doing an extra job
        .guide__description Benito earns extra $2600 each month, and today he will tell us how he did it.
        .guide__img
            img(src="./img/guide-img.jpg").desc
            img(src="./img/guide-img-mob.jpg").mob
    .guide__person-info
        .about-person Hi! My name is Benito, and I want to share my holding story with you. First of all, I should notice that crypto has not rang a bell for me. It's funny 'cause it exactly became my extra income.
        .guide__interview
            p I've always wanted to give an interview, so sorry for the information you may find unnecessary.
            p Ooookay. I'm Benito, 26 years old, account manager. Gambling is my way to relax and escape, especially slots and poker. So, last November, I received an email from
                a(href="#").link  Fairspin
                |  where they told me about
                a(href="#").link  Play To Earn
                |  and
                a(href="#").link  Hold To Earn
                |  programs based on the
                a(href="#").link  TFS token.
            p To put it simply,
                a(href="#").link  TFS
                |  isn't crypto but a digital asset.
                a(href="#").link  TFS
                |  belongs to
                a(href="#").link  Fairspin
                |  , and the
                a(href="#").link  casino
                |  offers two loyalty programs, namely
                a(href="#").link  P2E and H2E.
        ul.guide__rules
            li.guide__rule
                a(href="#").link  Play To Earn
                |  means that you get TFS for every bet at
                a(href="#").link  Fairspin
                |  . Kinda cashback, but they call it rakeback.
            li.guide__rule
                a(href="#").link  Hold To Earn
                |  means that you can place your
                a(href="#").link  tokens
                |  on the holding and get a reward after the holding ends.
.steps
    .steps__container
        .steps__title December 2021. Benito's first steps in
            a(href="#").link  tokens
        .steps__discription
            p The
                a(href="#").link  TFS tokens
                |  starter hit I got, thanks to
                a(href="#").link  P2E.
                |  Then I understood that I could stake my
                a(href="#").link  tokens
                |  , get more
                a(href="#").link  TFS
                |  as a reward and send them to my
                a(href="#").link  Fairspin
                |  account back. They converted into my account currency, and I got kinda free bets.
            p Then I figured out that I could stake my
                a(href="#").link  tokens
                |  and withdraw them to my crypto wallet. Not without reason, the
                a(href="#").link  Hold To Earn
                |  program has its name.
        .steps__separate
        .steps__title January — March 2022. The holding periods testing and withdrawals
        .steps__discription
            p So I decided to buy more
                a(href="#").link  TFS
                |  'cause
                a(href="#").link  tokens
                |  from
                a(href="#").link  P2E
                |  were not enough to reach my goal. Thus, I top up my
                a(href="#").link  Fairspin
                |  account by euros, convert them to
                a(href="#").link  TFS tokens
                |  and begin the holding.
            p
                a(href="#").link  Fairspin
                |  offers three periods for holding. When I began my holding practice, it was 8 hours for the speedest
                a(href="#").link  H2E
                |  option. But not a long time ago, periods have changed a bit. The current ones are:
        .steps__times
            .steps__time 1.  4 hours
            .steps__time 2.  1 day
            .steps__time 3.  3 days
        .steps__discription
            p I found out that I could withdraw my earned
                a(href="#").link  tokens
                |  via ETH wallet, so I created the Metamask wallet. I know that there are various crypto wallets, but I heard good reviews about this one.
.holdings
    .holdings__container
        .holdings__title How Benito's typical holdings look like
        .holdings__description
            p My favorite holding period is three days. I understood that I should hold a minimum of €1000 to get some profit. So every three days, I made my holdings: get a reward and hold again.
            p Notice that the reward for a similar amount of
                a(href="#").link  tokens
                |  and a similar time may vary. This is because it also depends on the number of holders and
                a(href="#").link  casino
                |  income.
            p As for my tactics. First, I constantly withdrew every reward on my crypto wallet and the rest of the
                a(href="#").link  tokens
                |  I sent for the holding again. When I reimbursed the initial investment, I changed tactics. I began to save half of the revenue (withdrew to a crypto wallet) and left half on the holding for income increase.
        .holdings__info
            .holdings__table
                .table
                    .tr
                        .th DATE
                        .th period
                        .th amount
                        .th reward
                    .tr
                        .td 11.12
                        .td 8 hours
                        .td €400
                        .td $1,10
                    .tr
                        .td 03.01
                        .td 1 day
                        .td €1000
                        .td $12,15
                    .tr
                        .td 04.01
                        .td 3 days
                        .td €2500
                        .td $62,10
                    .tr
                        .td 26.02
                        .td 8 hours
                        .td €3000
                        .td $10,28
            .holdings__quote Btw I wish there would be the automatiс holding on
                a(href="#").link  Fairspin
                |  to begin the new one after the finished one.
.bought
    .bought__container
        .bought__title What did Benito buy for the first earned €1000
        .bought__discription My sister dreamed of a MacBook, but I haven't had enough free money for it. However, after the
            a(href="#").link  H2E
            |  rounds, I got this money, and I pleased her.
        .bought__story
            .bought__story__money
                p $1037,25 — Benito's
                    a(href="#").link  Hold To Earn
                    |  Maximum
            .bought__story__text Speaking about it, I may look like a cheater. But it's a great story. In February, we decided to buy a car, and before we paid the salesman, I bought
                a(href="#").link  tokens
                |  and sent them on the holding!!
        .bought__exchanged
            p I exchanged
                span  16 778 EUR
                |  and got
                span  5 794 092,17 TFS.
            p I sent
                span  5 794 092,17 TFS
                |  on the holding and received
                span  328
                span  764,95 TFS (1 037,25 USD)
                |  as a reward!
        .bought__title What's next
        .bought__discription The
            a(href="#").link  Hold To Earn
            |  program became something familiar to me in 4 months. If you succeed at something and there are no disappointments, then you should continue, I think.
footer.footer
    .footer__container
        .footer__icon
            img(src="./img/footer-icon.svg")
        .footer__info
            .footer__butns
                .footer__butns__column
                    a(href="#").footer__butn ABOUT
                    a(href="#").footer__butn CONTACT
                    a(href="#").footer__butn HELP
                    a(href="#").footer__butn CAREERS
                .footer__butns__column
                    a(href="#").footer__butn AD CHOICES
                    a(href="#").footer__butn PRIVACY POLICY
                    a(href="#").footer__butn COOKIE NOTICE
                    a(href="#").footer__butn CA NOTICE
                .footer__butns__column
                    a(href="#").footer__butn TERMS OF SERVICE
                    a(href="#").footer__butn NBC NEWS SITEMAP
                    a(href="#").footer__butn ADVERTICE
            .footer__year © 2022 NBC UNIVERCSAL
        .footer__logos
            .footer__logos__item
                img(src="./img/footer-news.svg")
            .footer__logos__item
                img(src="./img/footer-msn.svg")
            .footer__logos__item
                img(src="./img/footer-today.svg")
